@use '../abstracts' as *;
.card {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	@include flex(center, center, column);
	.card-image {
		width: 100%;
		height: 300px;
		margin-bottom: 1rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 4px;
		}
	}
	h3 {
		text-align: center;
		align-items: center;
	}
}
